# Jupyter notebook 실습
* [4차산업과정 홈](https://mdhub.io/view/bq2)
* 나의 첫번째 실습

In [1]:
print('abc')

abc

# for문
* : 이 마지막에 있음
* 하위 명령문은 indentation되어 있어야 함

In [8]:
list1=[]
for i in range(10):
    list1.append(i)
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
list1=[]
for i in range(10):
    list1.append(i)
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
list1=[]
for i in range(1,5):
    print(i) 
    list1.append(i)
    print(list1)
print(list1)

1
[1]
2
[1, 2]
3
[1, 2, 3]
4
[1, 2, 3, 4]
[1, 2, 3, 4]

In [11]:
list1=[i*10 for i in range(10)]
print(list1)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [20]:
list1=[9,99]
for i in range(10):
    list1.append(i*10)
print(list1)

[9, 99, 0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

# list의 index
* 아래의 숫자 5는 index
* index는 0부터 시작함
* 5는 0, 1, 2, 3, 4, 5로 여섯번째임

* slicing

In [30]:
print(list1[-1])

90

In [37]:
print(list1[::-2])

[90, 70, 50, 30, 10, 99]

In [33]:
print(list1[3:-3][1:3])

[20, 30]

In [ ]:
print(list1[5])
print(list1[:3])
print(list1[1:3])
list1[-3:]

# Structure Programming Language의 세가지 문법
* 순차실행문 : 순서대로 실행함
* 조건문 : 참이면 if를 실행하고, 거짓이면 else를 실행
* 반복문 : 조건을 만족하면 계속 반복함

# Object Oriented Programming Language(OOP)
* C++, Java, C#, Python, Javascript

# Functional Programming Language(함수형 언어)
* Javascript, Julia, Scala, Going
* Python

In [45]:
list2=[]
for i in range(10):
    
    if i%2:
        print(i,i%2,i*2)
        list2.append(i*2)    
    else:
        print(i,i%100,i*100)
        list2.append(i*100) 
    print(list2)
print(list2)

0 0 0
[0]
1 1 2
[0, 2]
2 2 200
[0, 2, 200]
3 1 6
[0, 2, 200, 6]
4 4 400
[0, 2, 200, 6, 400]
5 1 10
[0, 2, 200, 6, 400, 10]
6 6 600
[0, 2, 200, 6, 400, 10, 600]
7 1 14
[0, 2, 200, 6, 400, 10, 600, 14]
8 8 800
[0, 2, 200, 6, 400, 10, 600, 14, 800]
9 1 18
[0, 2, 200, 6, 400, 10, 600, 14, 800, 18]
[0, 2, 200, 6, 400, 10, 600, 14, 800, 18]

In [46]:
list2=[i*2 if i%2 else i*100 for i in range(10)]
print(list2)
for i in list2:
    print(i)

[0, 2, 200, 6, 400, 10, 600, 14, 800, 18]
0
2
200
6
400
10
600
14
800
18

In [47]:
dict1 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print(dict1)
dict1['국가']='스페인'
dict1['abc']=[1,2,3]
print(dict1)
for key, value in dict1.items():
    print(key, " :: ", value)

{'Name': 'Zara', 'Age': 7, 'Class': 'First'}
{'Name': 'Zara', 'Age': 7, 'Class': 'First', '국가': '스페인', 'abc': [1, 2, 3]}
Name  ::  Zara
Age  ::  7
Class  ::  First
국가  ::  스페인
abc  ::  [1, 2, 3]

# 빅데이터 맛보기
* 보통 데이터는 table형태
* table형태는 excel, SQL(관계형 데이터베이스), CSV(콤마로 구분된 파일)
* 정형화된 table 데이터를 주로 다룸
* 반정형화된 tree구조 : json
* 비정형 데이터 : image, video

In [48]:
import pandas as pd
df = pd.read_json('http://aopt.biz/lecture/cars.json')

In [49]:
df.head()

,Acceleration,Cylinders,Displacement,Horsepower,Miles_per_Gallon,Name,Origin,Weight_in_lbs,Year
0,12.0,8,307.0,130.0,18.0,chevrolet chevelle malibu,USA,3504,1970
1,11.5,8,350.0,165.0,15.0,buick skylark 320,USA,3693,1970
2,11.0,8,318.0,150.0,18.0,plymouth satellite,USA,3436,1970
3,12.0,8,304.0,150.0,16.0,amc rebel sst,USA,3433,1970
4,10.5,8,302.0,140.0,17.0,ford torino,USA,3449,1970

In [50]:
df.tail()

,Acceleration,Cylinders,Displacement,Horsepower,Miles_per_Gallon,Name,Origin,Weight_in_lbs,Year
401,15.6,4,140.0,86.0,27.0,ford mustang gl,USA,2790,1982
402,24.6,4,97.0,52.0,44.0,vw pickup,Europe,2130,1982
403,11.6,4,135.0,84.0,32.0,dodge rampage,USA,2295,1982
404,18.6,4,120.0,79.0,28.0,ford ranger,USA,2625,1982
405,19.4,4,119.0,82.0,31.0,chevy s-10,USA,2720,1982

In [54]:
#df.loc[0]
#df.loc[2:4]   
df.iloc[2:4,0:5]
df.iloc[-3:]

,Acceleration,Cylinders,Displacement,Horsepower,Miles_per_Gallon,Name,Origin,Weight_in_lbs,Year
403,11.6,4,135.0,84.0,32.0,dodge rampage,USA,2295,1982
404,18.6,4,120.0,79.0,28.0,ford ranger,USA,2625,1982
405,19.4,4,119.0,82.0,31.0,chevy s-10,USA,2720,1982

# describe는 기본 통계값을 보여줌
* data type이 int나 float가 되어야 함

In [55]:
df.describe()

,Acceleration,Cylinders,Displacement,Horsepower,Miles_per_Gallon,Weight_in_lbs,Year
count,406.000000,406.000000,406.000000,400.000000,398.000000,406.000000,406.000000
mean,15.519704,5.475369,194.779557,105.082500,23.514573,2979.413793,1975.995074
std,2.803359,1.712160,104.922458,38.768779,7.815984,847.004328,3.856689
min,8.000000,3.000000,68.000000,46.000000,9.000000,1613.000000,1970.000000
25%,13.700000,4.000000,105.000000,75.750000,17.500000,2226.500000,1973.000000
50%,15.500000,4.000000,151.000000,95.000000,23.000000,2822.500000,1976.000000
75%,17.175000,8.000000,302.000000,130.000000,29.000000,3618.250000,1979.000000
max,24.800000,8.000000,455.000000,230.000000,46.600000,5140.000000,1982.000000

In [56]:
df.shape

(406, 9)

# pandas data types
* int: 정수
* float: 실수
* object: 문자열
    * 사람이름, 문장 : 보통 분석 대상이 아님
    * 성별, 지역, 날씨(맑음, 비, ...) : categorical data <== 분석대상
* datatime: 날짜+시간

In [57]:
df.dtypes

Acceleration        float64
Cylinders             int64
Displacement        float64
Horsepower          float64
Miles_per_Gallon    float64
Name                 object
Origin               object
Weight_in_lbs         int64
Year                  int64
dtype: object

# 결측치(missing data)
* 빅데이터 분석에서 매우 중요함
* 방법
    * 결측치가 있는 행을 제거
    * 대체값(0, 평균, 최빈값 등) 으로 대체

In [58]:
df.isnull().sum()

Acceleration        0
Cylinders           0
Displacement        0
Horsepower          6
Miles_per_Gallon    8
Name                0
Origin              0
Weight_in_lbs       0
Year                0
dtype: int64

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df[:10]