## Python
* creator : [Guido van Rossum](https://en.wikipedia.org/wiki/Guido_van_Rossum), 1989
* [What is Pythonic?](https://blog.startifact.com/posts/older/what-is-pythonic.html)
* Interpreter 방식 : script language


## Python Tutorials

<ul>
  <li><a href="https://www.w3schools.com/python/" target="_blank">W3 School :  Python Tutorial</a> </li>
  <li><a href="https://perso.limsi.fr/pointal/_media/python:cours:mementopython3-english.pdf" target="_blank">Python 3 Cheat Sheet</a> </li>
    <li><a href="https://thepythonguru.com" target="_blank">
https://thepythonguru.com
</a> </li>
    <li><a href="https://docs.python.org/3/tutorial/" target="_blank">
https://docs.python.org/3/tutorial/
</a> </li>
</ul>

> Copyright (c) 2018 Hugon Kim(Ph.D) <br>
> [good47906@gmail.com](mailto:good47906@gmail.com) <br>
> [(주)에이옵트)](http://aopt.biz" target="_blank)<br>
> [mdhub.io](https://mdhub.io)

In [1]:
print("Hello, World!")
print("한글테스트")

Hello, World!
한글테스트

In [4]:
변수1='한글입력'
변수1

'한글입력'

In [5]:
a=3
b=4
print(a+b)

7

# 변수와 memory
* 변수에 값을 할당하면, kernel의 메모리에 저장됨
* 메모리를 삭제하는 명령은 *del*

In [7]:
del b

In [8]:
b

NameError: name 'b' is not defined

In [9]:
b=5

In [ ]:
b='hello'

$python
Python 3.6.4 |Anaconda custom (64-bit)| (default, Jan 16 2018, 18:10:19) 
[GCC 7.2.0] on linux
Type "help", "copyright", "credits" or "license" for more information.
>>> print("Hello, World!")
Hello, World!

In [10]:
import sys
print (sys.version)

3.6.5 |Anaconda, Inc.| (default, Mar 29 2018, 13:32:41) [MSC v.1900 64 bit (AMD64)]

# Tab 이용하기
* *"sys."*입력 후 *Tab*을 실행하면, *sys*하위 명령을 보여줌

In [11]:
sys.path

['',
 'C:\\Users\\p\\Anaconda3\\python36.zip',
 'C:\\Users\\p\\Anaconda3\\DLLs',
 'C:\\Users\\p\\Anaconda3\\lib',
 'C:\\Users\\p\\Anaconda3',
 'C:\\Users\\p\\Anaconda3\\lib\\site-packages',
 'C:\\Users\\p\\Anaconda3\\lib\\site-packages\\win32',
 'C:\\Users\\p\\Anaconda3\\lib\\site-packages\\win32\\lib',
 'C:\\Users\\p\\Anaconda3\\lib\\site-packages\\Pythonwin',
 'C:\\Users\\p\\Anaconda3\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\p\\.ipython']

# Tab을 이용한 자동완성

다음과 같이 "np." 입력후 Tab를 누르면 하위 명령 리스트가 나옴

In [ ]:
import numpy as np
np.

## Python Indentations
* Python에서 indentation(여백넣기)는 매우 중요함
* 여백넣기는 하위코드블록(a block of code)을 나타냄
* 4칸의 공백을 권장하고 있음

In [12]:
if 5 > 2:
    print("This is a sub block!")
    print("Five is greater than two!")

This is a sub block!
Five is greater than two!

In [14]:
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

## 주석(Comment)

In [15]:
#원래 소스의 주석
#####This is a comment.
print("Hello, World!")

Hello, World!

In [16]:
"""This is a 
multiline 
docstring.
"""
print("Hello, World!")

Hello, World!

## 변수 만들기
* Python은 변수를 선언하는 명령이 없음
* 변수는 값을 할당하는 순간 만들어짐
* 변수의 형(type)을 선언할 필요도 없음
* 변수명은 숫자, 알파벳, 밑줄 기호( _ ), 한글 등을 사용할 수 있음
* 변수명은 숫자로 시작하면 안되고, 공백을 포함하면 안됨

In [17]:
x = 5
y = "John"
print(x)
print(y)
y=x
print(y)

5
John
5

In [20]:
x=5
y=7

# Swap(두 변수의 값 교환)

In [ ]:
temp=x
x=y
y=temp

#  single quote(') vs double quote(")
* python에서 comment 및 문자열들은 single quote(') vs double quote(") 중 아무거나 선택하여 사용하면 됨

In [22]:
sqoute='abc'
dqoute="def"
print(sqoute)
print(dqoute)
print(dqoute+sqoute)
print(sqoute+dqoute)

abc
def
defabc
abcdef

In [24]:
x = 4 # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [23]:
한글변수='한글'
print(한글변수)

한글

## Python은 case sensitive
* 대소문자를 구분함
* 대소문자를 구분하지 않는 것을 case insensitive라 함(예를들면 html)
## 두 단어 이상의 변수명
* lower_case_with_underscores
* CamelCase
* mixedCase

## [PEP 8 -- Style Guide for Python Code](https://www.python.org/dev/peps/pep-0008/)

In [25]:
x='a'
X='b'
print(x)
print(X)

a
b

In [26]:
firstVariable='aaa'
firstvariable='abc'
first_variable='def'

## output variables

In [27]:
x = "awesome"
print("Python is " + x)

x = "Python is "
y = "awesome"
z =  x + y
print(z)

x = 5
y = 10
print(x + y)

Python is awesome
Python is awesome
15

In [28]:
x = 5
print("Python is ", x)

Python is  5

In [29]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [30]:
print(str(x) +y)

5John

## Python Numbers

In [31]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [32]:
z1=1j

In [33]:
z1*z

(-1+0j)

In [34]:
x = 1
y = 3565622255488771122222233333333333333
z = -33333333

print(y+z)

print(type(x))
print(type(y))
print(type(z))

3565622255488771122222233333300000000
<class 'int'>
<class 'int'>
<class 'int'>

In [35]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [36]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [37]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

## Specify a Variable Type

In [38]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [39]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [40]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'
z

'3.0'

## 문자열(String)
* String literals in python are surrounded by either single quotation marks, or double quotation marks.
* 'hello' is the same as "hello"

In [41]:
a='single'
b="double"

print(type(a))
print(type(b))

<class 'str'>
<class 'str'>

In [42]:
## string은 문자들의 배열임
a = "Hello, World!"
print(a[0])
print(a[1])
print(a[-1])
print(a[-2])
print(a[2:5])
print(a[3:])
print(a[:3])
print(a[-5:])

H
e
!
d
llo
lo, World!
Hel
orld!

In [43]:
a[::-1]

'!dlroW ,olleH'

In [44]:
a[3:9]

'lo, Wo'

In [45]:
a[3:9][::-1]

'oW ,ol'

In [46]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [47]:
a = "Hello, World!"
print(len(a))
print(a.lower())
print(a.upper())

13
hello, world!
HELLO, WORLD!

In [48]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [ ]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

In [ ]:
a = "Hello, World, This, is a, Test"
list1=a.split(",")
print(list1)
print(list1[2:])
print(list1[-2:])

## Command-line String Input

In [50]:
print("Enter your name:")
x = input()
print("Hello, " + x)

Enter your name:
ksy
Hello, ksy

# 다양한 print
* [https://pyformat.info/](https://pyformat.info/)

In [ ]:
print('single')
a="abc"
x=5
print('a='+a+', x='+str(x))    #   x를 문자열로 전환하고, 문자열 합침
print('a=',a,', x=',x)

# Old style

In [ ]:
print("My name is %s and height is %d cm!"%('Erik', 178))

# New style

In [ ]:
print("Name: {0}, age: {1}".format('John', 35))

# 수의 연산

In [51]:
2**4

16

In [52]:
x=5
x=x+4
print(x)
x+=5 # x=x+5
print(x)

9
14

# 변수의 복사

In [54]:
x=6
y=3
print(x, y)

6 3

# 일반 변수의 복사는 값에 의한 복사
# list의 경우 참조에 의한 복사

In [53]:
y=3
z=y
print(z)
y=300
print(y,z)

3
300 3

In [57]:
listY=[1,5,8]
listZ=listY
listY,append(12)

NameError: name 'append' is not defined

In [55]:
print(listY)
print(listZ)

NameError: name 'listY' is not defined

##### <h2>Python Operators</h2>

<p>Operators are used to perform operations on variables and values.</p>

<p>Python divides the operators in the following groups:</p>
<ul>
	<li>Arithmetic operators</li>
	<li>Assignment operators</li>
	<li>Comparison operators</li>
	<li>Logical operators</li>
	<li>Identity operators</li>
	<li>Membership operators</li>
	<li>Bitwise operators</li>
</ul>

<h2>Python Arithmetic Operators</h2>

<p>Arithmetic operators are used with numeric values to perform common mathematical operations:</p>

<table class="w3-table-all notranslate">
<tbody><tr>
<th style="width:25%">Operator</th>
<th style="width:35%">Name</th>
<th style="width:30%">Example</th>
<th style="width:10%">Try it</th>
</tr>
<tr>
<td>+</td>
<td>Addition</td>
<td>x + y</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="showpython.asp?filename=demo_oper_add">Try it »</a></td>
</tr>
<tr>
<td>-</td>
<td>Subtraction</td>
<td>x - y</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="showpython.asp?filename=demo_oper_sub">Try it »</a></td>
</tr>
<tr>
<td>*</td>
<td>Multiplication</td>
<td>x * y</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="showpython.asp?filename=demo_oper_mult">Try it »</a></td>
</tr>
<tr>
<td>/</td>
<td>Division</td>
<td>x / y</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="showpython.asp?filename=demo_oper_div">Try it »</a></td>
</tr>
<tr>
<td>%</td>
<td>Modulus</td>
<td>x % y</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="showpython.asp?filename=demo_oper_mod">Try it »</a></td>
</tr>
  <tr>
<td>**</td>
<td>Exponentiation</td>
<td>x ** y</td>
<td>&nbsp;</td>
  </tr>
<tr>
<td>//</td>
<td>Floor division</td>
<td>x // y</td>
<td>&nbsp;</td>
</tr>
</tbody></table>

In [59]:
5.2//2

2.0

In [60]:
9%2

1

In [ ]:
x=7
y=4
print(x+y)
print(x-y)

<h2>Python Assignment Operators</h2>

<p>Assignment operators are used to assign values to variables:</p>

<table class="w3-table-all notranslate">
<tbody><tr>
<th style="width:25%">Operator</th>
<th style="width:20%">Example</th>
<th style="width:20%">Same As</th>
<th style="width:10%">Try it</th>
</tr>
<tr>
<td>=</td>
<td>x = 5</td>
<td>x = 5</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="showpython.asp?filename=demo_oper_ass1">Try it »</a></td>
</tr>
  <tr>
<td>+=</td>
<td>x += 3</td>
<td>x = x + 3</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="showpython.asp?filename=demo_oper_ass2">Try it »</a></td>
  </tr>
  <tr>
<td>-=</td>
<td>x -= 3</td>
<td>x = x - 3</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="showpython.asp?filename=demo_oper_ass3">Try it »</a></td>
  </tr>
  <tr>
<td>*=</td>
<td>x *= 3</td>
<td>x = x * 3</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="showpython.asp?filename=demo_oper_ass4">Try it »</a></td>
  </tr>
  <tr>
<td>/=</td>
<td>x /= 3</td>
<td>x = x / 3</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="showpython.asp?filename=demo_oper_ass5">Try it »</a></td>
  </tr>
  <tr>
<td>%=</td>
<td>x %= 3</td>
<td>x = x % 3</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="showpython.asp?filename=demo_oper_ass6">Try it »</a></td>
  </tr>
  <tr>
<td>//=</td>
<td>x //= 3</td>
<td>x = x // 3</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="showpython.asp?filename=demo_oper_ass7">Try it »</a></td>
  </tr>
  <tr>
<td>**=</td>
<td>x **= 3</td>
<td>x = x ** 3</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="showpython.asp?filename=demo_oper_ass8">Try it »</a></td>
  </tr>
  <tr>
<td>&amp;=</td>
<td>x &amp;= 3</td>
<td>x = x &amp; 3</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="showpython.asp?filename=demo_oper_ass9">Try it »</a></td>
  </tr>
  <tr>
<td>|=</td>
<td>x |= 3</td>
<td>x = x | 3</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="showpython.asp?filename=demo_oper_ass10">Try it »</a></td>
  </tr>
<tr>
<td>^=</td>
<td>x ^= 3</td>
<td>x = x ^ 3</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="showpython.asp?filename=demo_oper_ass11">Try it »</a></td>
</tr>
<tr>
<td>&gt;&gt;=</td>
<td>x &gt;&gt;= 3</td>
<td>x = x &gt;&gt; 3</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="showpython.asp?filename=demo_oper_ass12">Try it »</a></td>
</tr>
<tr>
<td>&lt;&lt;=</td>
<td>x &lt;&lt;= 3</td>
<td>x = x &lt;&lt; 3</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="showpython.asp?filename=demo_oper_ass13">Try it »</a></td>
</tr>
</tbody></table>

In [61]:
X=5
X++

SyntaxError: invalid syntax (<ipython-input-61-5ddd766e2200>, line 2)

<h2>Python Comparison Operators</h2>

<p>Comparison operators are used to compare two values:</p>

<table class="w3-table-all notranslate">
<tbody><tr>
<th style="width:25%">Operator</th>
<th style="width:35%">Name</th>
<th style="width:30%">Example</th>
<th style="width:10%">Try it</th>
</tr>
<tr>
<td>==</td>
<td>Equal</td>
<td>x == y</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="showpython.asp?filename=demo_oper_compare1">Try it »</a></td>
</tr>
<tr>
<td>!=</td>
<td>Not equal</td>
<td>x != y</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="showpython.asp?filename=demo_oper_compare2">Try it »</a></td>
</tr>
<tr>
<td>&gt;</td>
<td>Greater than</td>
<td>x &gt; y</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="showpython.asp?filename=demo_oper_compare4">Try it »</a></td>
</tr>
<tr>
<td>&lt;</td>
<td>Less than</td>
<td>x &lt; y</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="showpython.asp?filename=demo_oper_compare5">Try it »</a></td>
</tr>
  <tr>
<td>&gt;=</td>
<td>Greater than or equal to</td>
<td>x &gt;= y</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="showpython.asp?filename=demo_oper_compare6">Try it »</a></td>
  </tr>
<tr>
<td>&lt;=</td>
<td>Less than or equal to</td>
<td>x &lt;= y</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="showpython.asp?filename=demo_oper_compare7">Try it »</a></td>
</tr>
</tbody></table>

<h2>Python Logical Operators</h2>

<p>Logical operators are used to combine conditional statements:</p>

<table class="w3-table-all notranslate">
<tbody><tr>
<th style="width:25%">Operator</th>
<th style="width:35%">Description</th>
<th style="width:30%">Example</th>
<th style="width:10%">Try it</th>
</tr>
<tr>
<td>and&nbsp;</td>
<td>Returns True if both statements are true</td>
<td>x &lt; 5 and&nbsp; x &lt; 10</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="showpython.asp?filename=demo_oper_logical1">Try it »</a></td>
</tr>
<tr>
<td>or</td>
<td>Returns True if one of the statements is true</td>
<td>x &lt; 5 or x &lt; 4</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="showpython.asp?filename=demo_oper_logical2">Try it »</a></td>
</tr>
<tr>
<td>not</td>
<td>Reverse the result, returns False if the result is true</td>
<td>not(x &lt; 5 and x &lt; 10)</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="showpython.asp?filename=demo_oper_logical3">Try it »</a></td>
</tr>
</tbody></table>

In [66]:
X=7
X<5 or x<10  # and&&, or//   <---c같은 다른언어에서 이렇게 사용.

True

<hr>

<h2>Python Identity Operators</h2>

<p>Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:</p>

<table class="w3-table-all notranslate">
<tbody><tr>
<th style="width:25%">Operator</th>
<th style="width:35%">Description</th>
<th style="width:30%">Example</th>
<th style="width:10%">Try it</th>
</tr>
<tr>
<td>is&nbsp;</td>
<td>Returns true if both variables are the same object</td>
<td>x is y</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="showpython.asp?filename=demo_oper_identity1">Try it »</a></td>
</tr>
<tr>
<td>is not</td>
<td>Returns true if both variables are not the same object</td>
<td>x is not y</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="showpython.asp?filename=demo_oper_identity2">Try it »</a></td>
</tr>
</tbody></table>

<h2>Python Membership Operators</h2>

<p>Membership operators are used to test if a sequence is presented in an object:</p>

<table class="w3-table-all notranslate">
<tbody><tr>
<th style="width:25%">Operator</th>
<th style="width:35%">Description</th>
<th style="width:30%">Example</th>
<th style="width:10%">Try it</th>
</tr>
<tr>
<td>in&nbsp;</td>
<td>Returns True if a sequence with the specified value is present in the object</td>
<td>x in y</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="showpython.asp?filename=demo_oper_membership1">Try it »</a></td>
</tr>
<tr>
<td>not in</td>
<td>Returns True if a sequence with the specified value is not present in the 
object</td>
<td>x not in y</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="showpython.asp?filename=demo_oper_membership2">Try it »</a></td>
</tr>
</tbody></table>

In [69]:
list1=[1,3,9]
print(2 in list1)
print(2 not in list1)
print(3 in list1)
print(3 not in list1)

False
True
True
False


<h2>Python Bitwise Operators</h2>

<p>Logical operators are used to combine conditional statements:</p>

<table class="w3-table-all notranslate">
<tbody><tr>
<th style="width:10%">Operator</th>
<th style="width:15%">Name</th>
<th style="width:75%">Description</th>
</tr>
  <tr>
<td>&amp;&nbsp;</td>
<td>AND</td>
<td>Sets each bit to 1 if both bits are 1</td>
  </tr>
  <tr>
<td>|</td>
<td>OR</td>
<td>Sets each bit to 1 if one of two bits is 1</td>
  </tr>
  <tr>
<td>&nbsp;^</td>
<td>XOR</td>
<td>Sets each bit to 1 if only one of two bits is 1</td>
  </tr>
<tr>
<td>~&nbsp;</td>
<td>NOT</td>
<td>Inverts all the bits</td>
</tr>
<tr>
<td>&lt;&lt;</td>
<td>Zero fill left shift</td>
<td>Shift left by pushing zeros in from the right and let the leftmost bits fall 
off</td>
</tr>
<tr>
<td>&gt;&gt;</td>
<td>Signed right shift</td>
<td>Shift right by pushing copies of the leftmost bit in from the left, and let 
the rightmost bits fall off</td>
</tr>
</tbody></table>