## Python
* creator : [Guido van Rossum](https://en.wikipedia.org/wiki/Guido_van_Rossum), 1989
* [What is Pythonic?](https://blog.startifact.com/posts/older/what-is-pythonic.html)
* Interpreter 방식 : script language


## Python Tutorials

<ul>
  <li><a href="https://www.w3schools.com/python/" target="_blank">W3 School :  Python Tutorial</a> </li>
  <li><a href="https://perso.limsi.fr/pointal/_media/python:cours:mementopython3-english.pdf" target="_blank">Python 3 Cheat Sheet</a> </li>
    <li><a href="https://thepythonguru.com" target="_blank">
https://thepythonguru.com
</a> </li>
    <li><a href="https://docs.python.org/3/tutorial/" target="_blank">
https://docs.python.org/3/tutorial/
</a> </li>
</ul>

> Copyright (c) 2018 Hugon Kim(Ph.D) <br>
> [good47906@gmail.com](mailto:good47906@gmail.com) <br>
> [(주)에이옵트)](http://aopt.biz" target="_blank)<br>
> [mdhub.io](https://mdhub.io)

## Python Collections (Arrays)

* List: 변경가능, 중복가능, 정돈됨

* Tuple: 변경불가능, 중복가능, 정돈됨 

* Set: 중복불가능, 색인없음, 정돈되지않음

* Dictionary: 변경가능, 색인가능, 중복불가능, 정돈되지않음 (key & value를 갖는다)





* List is a collection which is ordered and changeable. Allows duplicate members.  
   *  ["apple", "banana", "cherry"]
* Tuple is a collection which is ordered and unchangeable. Allows duplicate members. # *값을 바꿀수없음*
   * ("apple", "banana", "cherry")
* Set is a collection which is unordered and unindexed. No duplicate members.   *#duplicate를  허용하지 않는다*
   * {"apple", "banana", "cherry"}
* Dictionary is a collection which is unordered, changeable and indexed. No duplicate members.   *# key와 value를 갖는다*
   * {  "apple": "green",  "banana": "yellow",  "cherry": "red"}

## List

In [1]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [2]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [18]:
## list constructor
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)
thislist.append("1damson")  #append를 하면 맨 뒤에 붙인다
print(thislist)
thislist.append("damson")
print(thislist)
thislist.append("damson")
print(thislist)
thislist.remove("banana")
print(thislist)
print(len(thislist))
thislist.pop()
print(thislist)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', '1damson']
['apple', 'banana', 'cherry', '1damson', 'damson']
['apple', 'banana', 'cherry', '1damson', 'damson', 'damson']
['apple', 'cherry', '1damson', 'damson', 'damson']
5
['apple', 'cherry', '1damson', 'damson']

In [20]:
a = []     # 빈 리스트
a = ["AB", 10, False]  #리스트에는 문자열, 정수, boolean(True/False) 가능

#  리스트 인덱싱(Indexing)
* 리스트의 특정 한 요소만을 선택하기 위하여 인덱싱(Indexing)을 사용 
* 첫번째요소는 "리스트[0]", 두번째 요소는 "리스트[1]" 처럼 표현
* 인덱스에 -1, -2 같은 음수를 사용할 수 있다는 점이다. 이 때, -1은 현재 리스트의 마지막 요소를, -2는 뒤에서 두번째 요소를 가리킴

In [22]:
a = ["AB", 3, 5, 7, 10, 12, False]
x = a[1]        # a의 두번째 요소 읽기
print(x)
a[1] = "Test"   # a의 두번째 요소 변경
print(a)
y = a[-1]       # -1은 맨마지막 요소
print(y)

3
['AB', 'Test', 5, 7, 10, 12, False]
False

# 리스트 슬라이싱(Slicing)
* 리스트에서 일부 부분 요소들을 선택하기 위하여 슬라이스(Slice)를 사용
* 슬라이스는 "리스트[처음인덱스:마지막인덱스]"와 같이 인덱스 표현에서 부분집합의 범위를 지정하는 것
    * "리스트[처음인덱스:마지막인덱스]"에서 처음인덱스 부터 시작하여, 마지막인덱스 -1 까지를 의미
    * 즉 마지막 인덴스는 제외됨
* 만약 처음 인덱스가 생략되면, 0 부터 시작되며, 마지막 인덱스가 생략되면, 리스트의 끝까지 포함됨을 의미한다.

In [4]:
a = [1, 3, 5, 7, 10, 20, 30, 40]
x = a[1:3]     # [3, 5]
print(x)
x = a[:2]      # [1, 3]
print(x)
x = a[3:]      # [7, 10]
print(x)

[3, 5]
[1, 3]
[7, 10, 20, 30, 40]


* 제일 뒤 숫자를 불러온다
```python
a[-1]
```

In [27]:
a[-1]

40


* 처음부터 제일 마지막 숫자 전까지 출력
```python
a[:-1]
```

In [28]:
a[:-1]

[1, 3, 5, 7, 10, 20, 30]


* 처음부터 마지막 숫자 전까지 중에 첫번째부터 다섯번째 숫자까지 출력
```python
a[:-1][1:5]
```

In [29]:
a[:-1][1:5]

[3, 5, 7, 10]


* 처음부터 마지막 숫자 전까지 중에 첫번째부터 다섯번째 숫자까지 역순으로 출력
```python
a[:-1][1:5][::-1]
```

In [30]:
a[:-1][1:5][::-1]

[10, 7, 5, 3]


* 처음부터 마지막 숫자 전까지 중에 첫번째부터 다섯번째 숫자까지 역순으로 2개 간격으로 출력
```python
a[:-1][1:5][::-2]
```

In [31]:
a[:-1][1:5][::-2]

[10, 5]


* 처음부터 마지막 숫자 전까지 중에 첫번째부터 다섯번째 숫자까지 2개 간격으로 출력

```python
a[:-1][1:5][2]
```

In [5]:
a[:-1][1:5][2]

7


* 처음부터 마지막 숫자까지 3개 간격으로 출력
```python
a[::3]
```

In [33]:
a[::3]

[1, 7, 30]


* 처음부터 마지막에서 두번째 숫자 전까지 2개간격으로 출력
```python
a[1:-2:2]
```

In [35]:
a[1:-2:2]

[3, 7, 20]


* 처음부터 마지막 숫자까지 2개 간격으로 출력
```python
a[::2]
```

In [36]:
a[::2]

[1, 5, 10, 30]


* 마지막 두번째 숫자 전부터 처음까지 역순으로 2개간격으로 출력
```python
a[::-2]
```

In [37]:
a[::-2]

[40, 20, 7, 3]


* 마지막 숫자 전부터 처음까지 역순으로 1개간격으로 출력
```python
a[::-1]
```

In [38]:
a[::-1]

[40, 30, 20, 10, 7, 5, 3, 1]


* list속에 list가 있는 경우
```python
list_in_list[2]
```
list에서 2번째 list를 출력한다

In [6]:
list_in_list = [1, 2, ['a', 'b', ['Life', 'is']]]
list_in_list[2]

['a', 'b', ['Life', 'is']]


* list속에 list가 있는 경우
```python
list_in_list[2][2]
```
list속에 2번째 list에서 2번째 list를 출력

In [45]:
list_in_list[2][2]

['Life', 'is']

# 리스트 연산자

In [7]:
a = [1, 2, 3]
b = [4, 5, 6]
a+b

[1, 2, 3, 4, 5, 6]

In [12]:
a = [1, 2, 3]
b = [3, 5, 6]
print(set(a))
list(set(a) & set(b))  #교집합(intersection)

{1, 2, 3}

[3]

In [11]:
list(set(a) | set(b))   #합집합(union)

[1, 2, 3, 5, 6]

In [61]:
a=[1,4,5]
a * 3

[1, 4, 5, 1, 4, 5, 1, 4, 5]

# 리스트의 수정, 변경과 삭제, 정렬, 인덱스

In [62]:
a=[1,4,5]
a[1]=20
a

[1, 20, 5]

In [63]:
del a[1]
a

[1, 5]

In [ ]:
a=[]    # 빈 list

In [67]:
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [66]:
a = [1, 4, 3, 2]
a.sort()
a

[1, 2, 3, 4]

# list의 순서 변경
* 'b.sort()'와 'b.reverse()'는 'b' 자체를 변경시킴
* 반면에 'b[::-1]'는 다른 list를 만들지만, b자체는 바뀌지 않음

# reverse
* list를 역순으로 출력
* 'b[::-1]'도 list를 역순으로 만들지만, b자체는 바뀌지 않음

In [74]:
b = [1, 4, 3, 2, 7]
b.reverse()   # b[::-1] 와 같음
b

[7, 2, 3, 4, 1]

# b[::-1]
* list를 역순으로 출력
* reverse도 list를 역순으로 만들지만, b자체를 바꿈

In [75]:
b = [1, 4, 3, 2, 7]
print(b[::-1])
b

[7, 2, 3, 4, 1]

[1, 4, 3, 2, 7]

# c=b[::-1]
* b[::-1]는 b에 의해서 만들어진 새로운 list이지, b와는 관계가 없음

In [76]:
b = [1, 4, 3, 2, 7]
c=b[::-1]    # b[::-1]는 b에 의해서 만들어진 새로운 list이지, b와는 관계가 없음
print (b,c)

[1, 4, 3, 2, 7] [7, 2, 3, 4, 1]

# append
* list의 제일 뒤에 붙임

In [77]:
b.append (100)
print (b,c)

[1, 4, 3, 2, 7, 100] [7, 2, 3, 4, 1]

# index
* 색인, 위치를 찾는것

In [81]:
c = [1, 4, 3, 7, 2, 7, 9, 3]
c[5]=3
c.index(7)

3

In [82]:
print('before',c)
c.insert(0, 4)  
print('after',c)
c

before [1, 4, 3, 7, 2, 7, 9, 3]
after [4, 1, 4, 3, 7, 2, 7, 9, 3]

[4, 1, 4, 3, 7, 2, 7, 9, 3]

In [84]:
# pop()은 리스트의 맨 마지막 요소를 돌려 주고 그 요소는 삭제하는 함수
print('before',c)
c.remove(7)          #처음의 7을 없앰
print('after',c)

before [4, 1, 4, 7, 2, 7, 9, 3]
after [4, 1, 4, 2, 7, 9, 3]

In [85]:
c = [1, 4, 3, 7, 2, 7, 9, 3]
c.pop()
c

[1, 4, 3, 7, 2, 7, 9]

# 리스트의 복사

In [ ]:
d=c
d

In [ ]:
d[0]=400
print(d)
print(c)

In [ ]:
c[1]=100
print(d)
print(c)

##  Tuple
* A tuple is a collection which is ordered and <span style="color:blue;font-size:20px;">immutable</span> 

* ordered: index를 가짐
* immutable(unchangeble): 값을 변경할 수 없음을 말함
* print하면 list는 [] , tuple은 ()로 표시

In [86]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [87]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])
print(thistuple[:2])
thistuple[1]='kkk'     # immutable이므로 할당이 안되어, 오류가 발생함

banana
('apple', 'banana')

TypeError: 'tuple' object does not support item assignment

In [88]:
thistuple = ("apple", "banana", "cherry")
thistuple[1] = "blackcurrant" # test changeability
print(thistuple)

TypeError: 'tuple' object does not support item assignment

In [89]:
# The tuple() Constructor
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)
print(len(thistuple))

('apple', 'banana', 'cherry')
3

In [90]:
list2=list(thistuple) # tuple을 list에 넣어 줌으로 mutable이됨.
list2

['apple', 'banana', 'cherry']

In [91]:
list2[2]='kkkk'
list2

['apple', 'banana', 'kkkk']

In [92]:
list3=list2

In [93]:
list3

['apple', 'banana', 'kkkk']

In [94]:
list3[1]='ppp'
list3

['apple', 'ppp', 'kkkk']

In [95]:
list2

['apple', 'ppp', 'kkkk']

## Set
* A set is a collection which is unordered and unindexed

In [96]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

In [97]:
## The set() Constructor
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'cherry', 'banana'}

In [98]:
thisset = set(("apple", "banana", "cherry"))
thisset.add("damson")
thisset

{'apple', 'banana', 'cherry', 'damson'}

In [99]:
thisset.add("abc")    # 자동정렬되어 추가된다
thisset

{'abc', 'apple', 'banana', 'cherry', 'damson'}

In [101]:
thisset.add([1,2,3])      # list는 추가가 안된다

TypeError: unhashable type: 'list'

In [103]:
thisset.add((1,2,3))
thisset

{(1, 2, 3), 'abc', 'apple', 'banana', 'cherry', 'damson'}

In [104]:
list1=[3,5,9]
list1.append((9,2,6))
list1

[3, 5, 9, (9, 2, 6)]

In [105]:
list1.append({9,2,6})
list1

[3, 5, 9, (9, 2, 6), {2, 6, 9}]

In [106]:
thisset = set(("apple", "banana", "cherry"))
thisset.remove("banana")
print(thisset)

{'apple', 'cherry'}

In [107]:
thisset.add("damson")
thisset

{'apple', 'cherry', 'damson'}

## Dictionary
* A dictionary is a collection which is unordered, changeable and indexed
* key와 value의 쌍으로 구성됨
* 키(Key)로 신속하게 값(Value)을 찾아내는 해시테이블(Hash Table) 구조

In [108]:
thisdict ={
  "apple": "green",
  "banana": "yellow",
  "cherry": "red"
}
print(thisdict)

{'apple': 'green', 'banana': 'yellow', 'cherry': 'red'}

In [113]:
thisdict ={
  "apple": "green",
  "banana": "yellow",
  "cherry": "red"
}
thisdict["apple"] = "red"
print(thisdict)

{'apple': 'red', 'banana': 'yellow', 'cherry': 'red'}

In [114]:
## The dict() Constructor
thisdict =dict(apple="green", banana="yellow", cherry="red")
# note that keywords are not string literals
# note the use of equals rather than colon for the assignment
print(thisdict)

{'apple': 'green', 'banana': 'yellow', 'cherry': 'red'}

In [115]:
thisdict =dict(apple="green", banana="yellow", cherry="red")
thisdict["damson"] = "purple"
print(thisdict)

{'apple': 'green', 'banana': 'yellow', 'cherry': 'red', 'damson': 'purple'}

In [116]:
thisdict =dict(apple="green", banana="yellow", cherry="red")
del(thisdict["banana"])
print(thisdict)

{'apple': 'green', 'cherry': 'red'}

In [117]:
thisdict =dict(apple="green", banana="yellow", cherry="red")
print(len(thisdict))

3

In [118]:
thisdict['mylist']=[3,2,9]
thisdict

{'apple': 'green', 'banana': 'yellow', 'cherry': 'red', 'mylist': [3, 2, 9]}

In [119]:
thisdict['mytuple']=('a','b','c')
thisdict

{'apple': 'green',
 'banana': 'yellow',
 'cherry': 'red',
 'mylist': [3, 2, 9],
 'mytuple': ('a', 'b', 'c')}

In [122]:
thisdict['myset']={'a','b','c'}
thisdict

{'apple': 'green',
 'banana': 'yellow',
 'cherry': 'red',
 'mylist': [3, 2, 9],
 'mytuple': ('a', 'b', 'c'),
 'mydict': {'abc': 'abc', 'def1': 'def', 'cherry': 'red'},
 'myset': {'a', 'b', 'c'}}

In [123]:
thisdict['mydict']=dict(abc="abc", def1="def", cherry="red")
thisdict

{'apple': 'green',
 'banana': 'yellow',
 'cherry': 'red',
 'mylist': [3, 2, 9],
 'mytuple': ('a', 'b', 'c'),
 'mydict': {'abc': 'abc', 'def1': 'def', 'cherry': 'red'},
 'myset': {'a', 'b', 'c'}}