## Python
* creator : [Guido van Rossum](https://en.wikipedia.org/wiki/Guido_van_Rossum), 1989
* [What is Pythonic?](https://blog.startifact.com/posts/older/what-is-pythonic.html)
* Interpreter 방식 : script language


## Compound statements

<ul>
  <li><a href="https://docs.python.org/3.4/reference/compound_stmts.html" target="_blank">Compound statements</a> </li>
  <li><a href="http://blog.teamtreehouse.com/python-single-line-loops" target="_blank">
LEARN
Python Single Line For Loops</a> </li>
  <li><a href="https://www.digitalocean.com/community/tutorials/understanding-list-comprehensions-in-python-3" target="_blank">
Understanding List Comprehensions in Python 3</a> </li>
</ul>



## Python Tutorials

<ul>
  <li><a href="https://www.w3schools.com/python/" target="_blank">W3 School :  Python Tutorial</a> </li>
  <li><a href="https://perso.limsi.fr/pointal/_media/python:cours:mementopython3-english.pdf" target="_blank">Python 3 Cheat Sheet</a> </li>
    <li><a href="https://thepythonguru.com" target="_blank">
https://thepythonguru.com
</a> </li>
    <li><a href="https://docs.python.org/3/tutorial/" target="_blank">
https://docs.python.org/3/tutorial/
</a> </li>
</ul>

> Copyright (c) 2018 Hugon Kim(Ph.D) <br>
> [good47906@gmail.com](mailto:good47906@gmail.com) <br>
> [(주)에이옵트)](http://aopt.biz" target="_blank)<br>
> [mdhub.io](https://mdhub.io)

[W3Schools Python Tutorial](https://www.w3schools.com/python/)

# Single Line If

In [1]:
age = 15
if age<18:
    print('kid')
else:
    print('adult')
    
    
# Conditions are evaluated from left to right
#     ( 실행1  if조건   else  실행2)
print('kid' if age < 18 else 'adult')

kid
kid

In [2]:
age = 12
if age < 18:
    if age < 13:
        print('kid')
    else:
        print('teenager')
else:
    print('adult')
    
print('kid' if age < 13 else 'teenager' if age < 18 else 'adult')

kid
kid

## Alternatives to the ternary operator

In [7]:
age = 15
# Selecting an item from a tuple
#      ((False,True)  [조건문])
print(('adult', 'kid')[age < 20])

# Which is the equivalent of...
print(('adult', 'kid')[True])

# Or more explicit by using dict
# {True일때 실행할것, False일때 실행할것}[조건문]
# 응용 > {True{True,False}일때 실행할것, False{True,False}일때 실행할것}[조건문]

print({True:print('kid'), False: print('adult')}[age < 20])

kid
kid
kid
adult
None

In [8]:
age = 12
print('kid' if age < 13 else 'teenager' if age < 18 else 'adult')
# Selecting an item from a tuple
{True: {True: print('kid1'), False: print('teenager1')}[age < 13], False: 'adult1'}[age < 20]

kid
kid1
teenager1

# Single Line For Loop

In [10]:
lst=[]
for num in range(1,11):
    lst.append(num*2)
print(lst)
    
doubled = [num*2 for num in range(1,11)]
print(doubled)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [16]:
fish_tuple = ('blowfish', 'clownfish', 'catfish', 'octopus')

fish_list = [fish for fish in fish_tuple if fish != 'octopus']
print(fish_list)

fish_list = [fish if fish != 'octopus' else 'abc' for fish in fish_tuple]
print(fish_list)

['blowfish', 'clownfish', 'catfish']
['blowfish', 'clownfish', 'catfish', 'abc']

In [21]:
fish_tuple = ('blowfish', 'clownfish', 'catfish', 'octopus')
fish_list=[]
for fish in fish_tuple:
    if fish !='octopus':
        fish_list.append(fish)
fish_list

['blowfish', 'clownfish', 'catfish']

In [22]:
fish_list=[]
for fish in fish_tuple:
    if fish !='octopus':
        fish_list.append(fish)
    else:
         fish_list.append('abc')
fish_list

['blowfish', 'clownfish', 'catfish', 'abc']

In [24]:
lst=[]
for x in range(10):
        if  x % 2 == 0:
            lst.append(x**2)
        print(x,x%2,lst)
print(lst)

number_list = [x ** 2 for x in range(10) if x % 2 == 0]
print(number_list)

0 0 [0]
1 1 [0]
2 0 [0, 4]
3 1 [0, 4]
4 0 [0, 4, 16]
5 1 [0, 4, 16]
6 0 [0, 4, 16, 36]
7 1 [0, 4, 16, 36]
8 0 [0, 4, 16, 36, 64]
9 1 [0, 4, 16, 36, 64]
[0, 4, 16, 36, 64]
[0, 4, 16, 36, 64]

In [14]:
[ x if x%2 else x*100 for x in range(1, 11) ]

[1, 200, 3, 400, 5, 600, 7, 800, 9, 1000]

In [29]:
lst=[]
for x in range(1,11):
        if  x % 2:
            lst.append(x)
        else:
            lst.append(x*100)
        print(x,x%2,lst)
print(lst)

1 1 [1]
2 0 [1, 200]
3 1 [1, 200, 3]
4 0 [1, 200, 3, 400]
5 1 [1, 200, 3, 400, 5]
6 0 [1, 200, 3, 400, 5, 600]
7 1 [1, 200, 3, 400, 5, 600, 7]
8 0 [1, 200, 3, 400, 5, 600, 7, 800]
9 1 [1, 200, 3, 400, 5, 600, 7, 800, 9]
10 0 [1, 200, 3, 400, 5, 600, 7, 800, 9, 1000]
[1, 200, 3, 400, 5, 600, 7, 800, 9, 1000]

In [31]:
print([ x if x%2 else x*100 for x in range(1, 11) ])

[[x*100, x][x%2] for x in range(1,11)]    #[False, True][Expression]

[1, 200, 3, 400, 5, 600, 7, 800, 9, 1000]

[1, 200, 3, 400, 5, 600, 7, 800, 9, 1000]

In [18]:
[{False:x*100, True:x}[x % 2 != 0] for x in range(1,11)]

[1, 200, 3, 400, 5, 600, 7, 800, 9, 1000]

In [19]:
number_list = [x for x in range(100) if x % 3 == 0 if x % 5 == 0]
print(number_list)

[0, 15, 30, 45, 60, 75, 90]

In [44]:
number_list=[]
for x in range(100):
    if x%3==0:        
        if x%5==0:
            number_list.append(x)
print(number_list)

[0, 15, 30, 45, 60, 75, 90]

# Single Line Nested For Loops

In [45]:
 [(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [64]:
tuple1=[]
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            tuple1.append((x, y))
tuple1

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [63]:
list3=[]
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            list3.append((x, y))
list3

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [77]:
listinlist=[[ch for ch in word] for word in ("apple", "banana", "pear", "the", "hello")]
print(listinlist)
print(listinlist[0])
print(listinlist[0][3])
print(listinlist[0][-3:])

[['a', 'p', 'p', 'l', 'e'], ['b', 'a', 'n', 'a', 'n', 'a'], ['p', 'e', 'a', 'r'], ['t', 'h', 'e'], ['h', 'e', 'l', 'l', 'o']]
['a', 'p', 'p', 'l', 'e']
l
['p', 'l', 'e']

In [86]:
listinlist=[]
for word in ("apple", "banana", "pear", "the", "hello"):
    temp=[]   
    for ch in word:
        temp.append(ch)
    listinlist.append(temp)
listinlist

[['a', 'p', 'p', 'l', 'e'],
 ['b', 'a', 'n', 'a', 'n', 'a'],
 ['p', 'e', 'a', 'r'],
 ['t', 'h', 'e'],
 ['h', 'e', 'l', 'l', 'o']]

In [88]:
import itertools

A = [50, 60, 70]
B = [0.1, 0.2, 0.3, 0.4]

[a + b for a, b in itertools.product(A, B)]

[50.1, 50.2, 50.3, 50.4, 60.1, 60.2, 60.3, 60.4, 70.1, 70.2, 70.3, 70.4]

In [91]:
import itertools

A = [50, 60, 70]
B = [0.1, 0.2, 0.3, 0.4]

lst=[]
for a,b in itertools.product(A,B):
    lst.append(a+b)
    print(a,b,lst)

lst

50 0.1 [50.1]
50 0.2 [50.1, 50.2]
50 0.3 [50.1, 50.2, 50.3]
50 0.4 [50.1, 50.2, 50.3, 50.4]
60 0.1 [50.1, 50.2, 50.3, 50.4, 60.1]
60 0.2 [50.1, 50.2, 50.3, 50.4, 60.1, 60.2]
60 0.3 [50.1, 50.2, 50.3, 50.4, 60.1, 60.2, 60.3]
60 0.4 [50.1, 50.2, 50.3, 50.4, 60.1, 60.2, 60.3, 60.4]
70 0.1 [50.1, 50.2, 50.3, 50.4, 60.1, 60.2, 60.3, 60.4, 70.1]
70 0.2 [50.1, 50.2, 50.3, 50.4, 60.1, 60.2, 60.3, 60.4, 70.1, 70.2]
70 0.3 [50.1, 50.2, 50.3, 50.4, 60.1, 60.2, 60.3, 60.4, 70.1, 70.2, 70.3]
70 0.4 [50.1, 50.2, 50.3, 50.4, 60.1, 60.2, 60.3, 60.4, 70.1, 70.2, 70.3, 70.4]

[50.1, 50.2, 50.3, 50.4, 60.1, 60.2, 60.3, 60.4, 70.1, 70.2, 70.3, 70.4]

# Lambda, filter, reduce and map
* [https://www.python-course.eu/python3_lambda.php](https://www.python-course.eu/python3_lambda.php)
* lambda function is a way to create small anonymous functions
* lambda argument_list: expression 
* r = map(func, seq)

* map: map에 있는 인수를 하나씩 리스트 혹은 튜플에 대입해서 함수를 실행함

In [29]:
f = lambda x, y : x + y
f(1,1)

2

# map과 for loop
* for loop도 실행을 할 수 있지만
* map은 vetor형태로 한꺼번에 처리하는 개념임

In [94]:
def abc(a):
    return a**2

rst=map(abc,(3,4,6))
list(rst)

[9, 16, 36]

In [104]:
rst=[]
for i in [3,4,6]:
    rst.append(abc(i))
list(rst)

[9, 16, 36]

In [111]:
def fahrenheit(T):
    return ((float(9)/5)*T + 32)
def celsius(T):
    return (float(5)/9)*(T-32)
temp = (36.5, 37, 37.5,39)

F = map(fahrenheit, temp)
temp2=list(F)
print(temp2)
C = map(celsius, temp2)
print(list(C))

[97.7, 98.60000000000001, 99.5, 102.2]
[36.5, 37.00000000000001, 37.5, 39.0]

In [36]:
Celsius = [39.2, 36.5, 37.3, 37.8]
F =list(map(lambda x: (float(9)/5)*x + 32, Celsius))

print(F)

[102.56, 97.7, 99.14, 100.03999999999999]

In [37]:
C = list(map(lambda x: (float(5)/9)*(x-32), F))
print(C)

[39.2, 36.5, 37.300000000000004, 37.8]

In [39]:
# map() can be applied to more than one list. The lists don't have to have the same length. 
a = [1, 2, 3, 4]
b = [17, 12, 11, 10]
c = [-1, -4, 5, 9]
print(list(map(lambda x, y : x+y, a, b)))
print(list(map(lambda x, y, z : x+y+z, a, b, c)))
print(list(map(lambda x, y, z : 2.5*x + 2*y - z, a, b, c)))

[18, 14, 14, 14]
[17, 10, 19, 23]
[37.5, 33.0, 24.5, 21.0]

#  map VS for loop

In [114]:
maxVal=100000
lst=[i for i in range(maxVal)]

def abc(a):
    return a**2

%timeit map(abc,lst)         # timeit: 돌리는데 드는 시간 및 표준편차 등을 표시함

158 ns ± 0.00874 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [116]:
def test():
    for i in lst:
        i**2
%timeit test()

26.6 ms ± 19.1 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

# 재귀함수(recursive function)
* fatorial : $n!=n\cdot n-1\cdots 2\cdot 1$
* $0!=1$

In [1]:
def fact(n):
    if n == 0:
        return 1
    else:
        return n * fact(n-1)
 
 
print(fact(0))
print(fact(5))

1
120

# What is if __name__ == “__main__” ??
* 아래의 코드를 작성하여 my_module.py 로 저장
* python my_module.py 으로 실행

In [ ]:
# file my_module.py 로 저장
 
foo = 100
 
def hello():
    print("i am from my_module.py")
 
if __name__ == "__main__":
    print("Executing as main program")
    print("Value of __name__ is: ", __name__)
    hello()

#  filter(function, iterable)
* function - function that tests if elements of an iterable returns true or false.
   If None, the function defaults to Identity function - which returns false if any elements are false
* iterable - iterable which is to be filtered, could be sets, lists, tuples, or containers of any iterators

In [42]:

ages = [5, 12, 17, 18, 24, 32]

def myFunc(x):
  if not x%2:
    return False
  else:
    return True

adults = filter(myFunc, ages)

for x in adults:
    print(x)

5
17

#  zip() : Returns an iterator, from two or more iterators
* zip() in conjunction with the * operator can be used to unzip a list

In [43]:
a = ("John", "Charles", "Mike")
b = ("Jenny", "Christy", "Monica", "Vicky")

list(zip(a, b))

[('John', 'Jenny'), ('Charles', 'Christy'), ('Mike', 'Monica')]

In [44]:
x = [1, 2, 3]
y = [4, 5, 6]
zipped = zip(x, y)
print(list(zipped))
[(1, 4), (2, 5), (3, 6)]
x2, y2 = zip(*zip(x, y))
print(x2, y2)
print(x)

[(1, 4), (2, 5), (3, 6)]
(1, 2, 3) (4, 5, 6)
[1, 2, 3]

# JSON in Python
* JSON (JavaScript Object Notation) : [http://json.org/](http://json.org/)

In [1]:
import json

# some JSON:
x =  '{ "name":"John", "age":30, "city":"New York"}'

# parse x:
y = json.loads(x)

# the result is a Python dictionary:
print(y["age"])

30

In [2]:
import json

# a Python object (dict):
x = {
  "name": "John",
  "age": 30,
  "city": "New York"
}

# convert into JSON:
y = json.dumps(x)

# the result is a JSON string:
print(y)

{"name": "John", "age": 30, "city": "New York"}

In [3]:
import json

print(json.dumps({"name": "John", "age": 30}))
print(json.dumps(["apple", "bananas"]))
print(json.dumps(("apple", "bananas")))
print(json.dumps("hello"))
print(json.dumps(42))
print(json.dumps(31.76))
print(json.dumps(True))
print(json.dumps(False))
print(json.dumps(None))

{"name": "John", "age": 30}
["apple", "bananas"]
["apple", "bananas"]
"hello"
42
31.76
true
false
null

In [4]:
# Convert a Python object containing all the legal data types:


import json

x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

print(json.dumps(x))

{"name": "John", "age": 30, "married": true, "divorced": false, "children": ["Ann", "Billy"], "pets": null, "cars": [{"model": "BMW 230", "mpg": 27.5}, {"model": "Ford Edge", "mpg": 24.1}]}

In [5]:
json.dumps(x, indent=4)

'{\n    "name": "John",\n    "age": 30,\n    "married": true,\n    "divorced": false,\n    "children": [\n        "Ann",\n        "Billy"\n    ],\n    "pets": null,\n    "cars": [\n        {\n            "model": "BMW 230",\n            "mpg": 27.5\n        },\n        {\n            "model": "Ford Edge",\n            "mpg": 24.1\n        }\n    ]\n}'

In [6]:
json.dumps(x, indent=4, sort_keys=True)

'{\n    "age": 30,\n    "cars": [\n        {\n            "model": "BMW 230",\n            "mpg": 27.5\n        },\n        {\n            "model": "Ford Edge",\n            "mpg": 24.1\n        }\n    ],\n    "children": [\n        "Ann",\n        "Billy"\n    ],\n    "divorced": false,\n    "married": true,\n    "name": "John",\n    "pets": null\n}'

# raw string, unicode string
* \n: 줄바꾸기
* \t: 칸 띄우기

In [119]:
para_str = """this \\ is a long string that is made up of
several lines and non-printable characters such as
TAB ( \t ) and they will show up that way when displayed.
NEWLINEs within the string, \n \t whether explicitly given like
this within the brackets [ \n ], or just a NEWLINE within
the variable assignment will also show up.
"""
print (para_str)

this \ is a long string that is made up of
several lines and non-printable characters such as
TAB ( 	 ) and they will show up that way when displayed.
NEWLINEs within the string,
 	 whether explicitly given like
this within the brackets [
 ], or just a NEWLINE within
the variable assignment will also show up.

In [120]:
## raw string with r
r_para_str = r"""this \\ is a long string that is made up of
several lines and non-printable characters such as
TAB ( \t ) and they will show up that way when displayed.
NEWLINEs within the string, whether explicitly given like
this within the brackets [ \n ], or just a NEWLINE within
the variable assignment will also show up.
"""
print (r_para_str)

this \\ is a long string that is made up of
several lines and non-printable characters such as
TAB ( \t ) and they will show up that way when displayed.
NEWLINEs within the string, whether explicitly given like
this within the brackets [ \n ], or just a NEWLINE within
the variable assignment will also show up.

In [47]:
print ('C:\\nowhere')
print (r'C:\\nowhere')

C:\nowhere
C:\\nowhere

In [48]:
won='\\u20A9'.encode('utf-8').decode('unicode-escape')
print(won)
print('{}{:,.1f}'.format(won,120000000.032))

₩
₩120,000,000.0

In [49]:
print('\1000')

@0

In [50]:
s = u'Hè'
print(s)
s0 = 'Hè'
print(s0)

Hè
Hè

#   formatted print: old style

In [51]:
print("My name is %s and height is %d cm!" % ('Erik', 178))

My name is Erik and height is 178 cm!

In [52]:
print("My name is %12s, height is %8.2f cm and weight is %3d kg" % ('Erik', 178.3333, 80))

My name is         Erik, height is   178.33 cm and weight is  80 kg

In [54]:
print("%10.3f"% (356.08977))
print("%10.3e"% (356.08977))
print("%10.3E"% (356.08977))
print("%10o"% (25))
print("%10.3o"% (25))
print("%10.5o"% (25))
print("%5x"% (47))
print("%5.4x"% (47))
print("%5.4X"% (47))
print("Only one percentage sign: %2d%% " % (20))

   356.090
 3.561e+02
 3.561E+02
        31
       031
     00031
   2f
 002f
 002F
Only one percentage sign: 20%

#   formatted print: new style

In [56]:
print("My name is {} and height is {} cm!".format('Erik', 178))
print("My name is {0} and height is {1} cm!".format('Erik', 178))
print("My name is {1} and height is {0} cm!".format('Erik', 178))

My name is Erik and height is 178 cm!
My name is Erik and height is 178 cm!
My name is 178 and height is Erik cm!

In [121]:
print("My name is {0:12s}, height is {1:8.2f} cm and weight is {2:3d} kg".format('Erik', 178.3333, 80))
# 12s: 문자열인데 12자리를 차지해라
# 8.2f: 실순데 소수점은 두자리로하고 8자리로해라

My name is Erik        , height is   178.33 cm and weight is  80 kg

In [59]:
print("My name is {0:s}, height is {1:8.2f} cm and weight is {2:3d} kg".format('Erik'.ljust(12), 178.3333, 80))

My name is Erik        , height is   178.33 cm and weight is  80 kg

In [60]:
print("My name is {0:s}, height is {1:8.2f} cm and weight is {2:3d} kg".format('Erik'.rjust(12), 178.3333, 80))

My name is         Erik, height is   178.33 cm and weight is  80 kg

In [122]:
print("My name is {name:s}, height is {height:8.2f} cm and weight is {weight:3d} kg".format(
    name='Erik'.ljust(12), height=178.3333, weight=80))

# ljust: 왼쪽정렬
# rjust: 오른쪽정렬

My name is Erik        , height is   178.33 cm and weight is  80 kg

In [62]:
print("My name is {name:s}, height is {height:8.2f} cm and weight is {weight:3d} kg".format(
    name='Erik'.ljust(12,"~"), height=178.3333, weight=80))

My name is Erik~~~~~~~~, height is   178.33 cm and weight is  80 kg